<p-table responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h4>Product List</h4>
            <p-button icon="pi pi-refresh" (onClick)="showProductlists()"></p-button>
            <p-button icon="pi pi-plus" class="add-btn" [routerLink]="'/add-product'"></p-button>
        </div>
        
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Product Title</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Image</th>
            <th>Size</th>
            <th>Color</th>
            <th>Price</th> 
            <th >Qty</th> 
            <th ><span class="del">Delete</span></th>
        </tr>
        <tr *ngFor="let product of showProducts">
            <td>{{product.product_title}}</td> 
            <td>{{product.product_brand}}</td> 
            <td>{{product.product_category}}</td>      
             <td>
                image
                <!-- <img [src]="'assets/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /> -->
            </td>
            <td>{{product.product_size}}</td> 
            <td>{{product.product_color}}</td> 
            <td>{{product.product_price | currency:'INR'}}</td>
            <td>{{product.product_qty}}</td>
            <td>
                <!-- (click)="editProduct(product.id,product)"  -->
            <button pButton pRipple [routerLink]="['/edit-product', product.id]" type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-plain"></button>
                <button pButton pRipple (click)="delProduct(product.id)" type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
