<div class="container">
    <div class="row ">
        <div class="col-8 card">
            <h4 class="header">My Cart</h4> 
            <div class="row main">
                <div class="col-3 image-container">
                     <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png"  class="product-image" />
                </div>
                <div class="col-8" style="padding: 5px;">
                    <h6><span>Brand </span>Name</h6>
                    <p>Size</p>
                    <p>Color</p>
                    <h6>Price</h6>
                </div>
                <div class="col-1" style="padding: 5px;">
                    <a class="del" styleClass="p-button-link"><i class="pi pi-trash"></i></a>
                </div>
            </div> 
        </div>
        <div class="col-4 card payment" >
            <div class="border">
                <h6 class="pri">Price Details</h6>
            </div>
            <div class="row second">
                <div class="col-6">
                    <p>Price</p>
                    <p>Delivery Charges</p>
                </div>
                <div class="col-6" >
                    <p>Price</p>
                    <p>Delivery Charges</p>
                </div>
            </div>
            <div class="row third">
                    <div class="col-6"><h5>Total Amount</h5> </div>
                    <div class="col-6"><p>₹<span></span>1000</p></div>
                </div>
        </div>
    </div>
</div>