.row.main {
    border: #ddd 1px solid;
    margin: 15px -15px;
       box-shadow: -1px 6px 19px rgba(141, 141, 140, 0.25);
}
.image-box {
      margin: 40px 20px;
    border: 1px solid #dddddd;
    padding: 19px 30px 47px 30px;
}

.col-5.right-column {
    padding: 40px 0;
}
.category {
    text-transform: uppercase;
    color: #0d6efd;
    font-weight: 500;
}
.btn-warning {
    background: none #f7810a;
    color: #ffffff;
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); 
}

.btn-warning:hover {
    background: none #ff962b;
    color: #ffffff;
    box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)
}